.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #efefe2;
    padding: 2px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
