.server {
    width: 45px;
    height: 45px;
    border-radius: 18px;
    margin-bottom: 10px;
    margin-top: 7px;
    position: relative;
    background-color: #1d1d1e;

    img {
        position: absolute;
        width: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}
