.page {
  display: flex;
  flex-direction: column;
  max-width: 78%;
  height: calc(100vh - 32px);
  flex-grow: 1;
  background-color: #1a1a1e;
  color: white;

  .themed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    height: 40px;

    .children {
      display: flex;
      align-items: center;

      .avatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .toolbar {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-right: 10px;
      min-width: 450px;

      .searchBar {
        display: flex;
        align-items: center;
        background-color: #282831;
        padding: 3px;
        border-radius: 8px;

        input {
          padding-left: 10px;
          background: transparent;
          border: none;
          outline: none;
          width: 200px;
          height: 20px;
          font-size: 18px;
          color: white;
        }

        .MuiSvgIcon-root {
          margin-right: 10px;
          cursor: text;
        }
      }
    }
  }

  .tabBody {
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
}
